/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, personal, hgroup, main, menu, nav, section, summary {
  display: block;
}

h1, h2, h3, h4, h5, p, label {
  margin: 0;
}

img {
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
  padding: 0;
  max-width: 1360px;
  min-width: 290px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #21282f;
  color: white;
}
