.games {
  padding: 2rem 0;

  &-container {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__row {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__col {
    margin: 15px;
    width: calc(25% - 30px);
    border: 1px solid yellow;
    min-height: 240px;
    padding: 15px;
  }
}
